{% extends "base.html" %}
{% block title %}
  {% if is_edit %}
    Редактировать пост
  {% else %}
    Новый пост
  {% endif %}
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Новый пост
          </div>
          <div class="card-body">
              {% url "posts:post_create" as action_link %}
            {% include "includes/form_inner.html" with button_text='Добавить'%}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
