{% extends 'base.html' %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Чтобы сбросить старый пароль —
            введите адрес электронной почты, под которым вы регистрировались
          </div>
          <div class="card-body">
            {% load user_filters %}
            {% include 'users/includes/form_errors.html' %}

            <form method="post" action="{% url 'users:password_reset' %}">
              {% include 'users/includes/form_inner.html' with button_text='Сбросить пароль' %}
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-5">
{% endblock %}